@import '../node_modules/mini.css/dist/mini-default.min.css';

form {
  min-width: 300px;
}

html,
body,
#root,
.container,
.center-page {
  height: 100%;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 5.1875rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

header .logo {
  margin-right: 1rem;
}

a.button.active {
  border: 1px solid var(--fore-color);
  background-color: rgba(0, 0, 0, 0.1);
}
